-r requirements.txt

black==22.1.0
flake8>=3.8<4
flake8-bugbear>=20<21
flake8-builtins>=1<2
flake8-comprehensions>=3<4
flake8-mutable>=1<2
flake8-tuple>=0.4<1
isort==5.10.1
mypy==0.931
types-requests
