name: CI

on: [push, pull_request]

jobs:
  container-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build image
      run: docker-compose build
    - name: Show image info
      run: docker images
