name: CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Install Python dependencies
      run: pip install -r dev-requirements.txt
    - name: Lint
      run: ./scripts/lint.sh

  e2e-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Fetch containers
      run: docker-compose build && docker-compose pull
    - name: Run test
      run: ./scripts/test.sh

  build-deploy:
    runs-on: ubuntu-latest
    needs:
      - lint
      - e2e-test
    steps:
      - uses: actions/checkout@v2

      - name: Login to DockerHub
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: docker/login-action@v2
        with:
          username: theorangeone
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push containers
        uses: docker/build-push-action@v2
        with:
          push: ${{ github.ref == 'refs/heads/master' }}
          platforms: linux/arm,linux/amd64,linux/arm64/v8
          tags: |
            ghcr.io/realorangeone/db-auto-backup:latest
            theorangeone/db-auto-backup:latest
